@import url('./__img/card-item__img.css');
@import url('./__description/card-item__description.css');
@import url('./__title/card-item__title.css');
@import url('./__price/card-item__price.css');



.card-item{
  transition: all .45s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 4%;


}
.card-item:hover{
  box-shadow: 0px -9px 19px 1px #6dbbd3;
}