
@import url('./blocks/root/root.css');
@import url('./blocks/header/header.css');
@import url('./blocks/main/main.css');
@import url('./blocks/card-items/card-items.css');
@import url('./blocks/card-item/card-item.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/button/button.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/error/error.css');
@import url('./blocks/button/_popup/button_popup.css');

